*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body{
    overflow-x: hidden;
}

.navbar navbar-expand-lg bg-body-tertiary{
    position: relative;
}

.contact-navbar{
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}

.background{
    background-color: rgb(222,226,230);     
}

.sobre-nos-texto{
    width: 30%;
    display: flex;
    padding-top: 5rem;
    padding-bottom: 15rem;
    margin-left: 10%;
    color: rgb(218,212,203);
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10rem;
}

.sobre-nos-texto a{
    text-decoration: underline;
    color: rgb(169, 178, 197);
}

.sobre-nos-texto a:hover{
    color: black;

}

.sobre-nos-texto h4,h5{
    color: rgb(64,62,65);
    font-weight: 100;
    
}

.sobre-nos-texto span{
    color: rgb(135,147,172);
    font-weight: 700;

}

.sobre-nos-texto p{
    color: rgb(169, 178, 197);

}

