*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

*::-webkit-scrollbar {
    width: 0px;
}

body{
    overflow-x: hidden;
}

.navbar navbar-expand-lg bg-body-tertiary{
    position: relative;
}

.contact-navbar{
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}

.linha-vertical{
    height: 20px;
    border-left: 1px solid;
    background-color: black;
    margin-right: 5px;
}

@media (max-width: 991px) {
    .linha-vertical {
        width: 120px; 
        height: 1px;         
        margin-bottom: 10px;
    }
}

.background{
    background-color: rgb(222,226,230);     
}

.sobre-nos-texto{
    width: 30%;
    display: flex;
    padding-top: 5rem;
    padding-bottom: 15rem;
    margin-left: 10%;
    color: rgb(218,212,203);
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10rem;
}

.sobre-nos-texto a{
    text-decoration: underline;
    color: rgb(142, 149, 163);
}

.sobre-nos-texto a:hover{
    color: black;
    transition: 0.3s;

}

.sobre-nos-texto h4,h5{
    color: rgb(64,62,65);
    font-weight: 100;
    
}

.sobre-nos-texto span{
    color: rgb(135,147,172);
    font-weight: 700;

}

.sobre-nos-texto p{
    color: rgb(142, 149, 163);

}

.background button{
    background-color: rgb(103, 112, 133);
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
}


.background button:hover{
    opacity: .85;
    transition: 0.2s;
    box-shadow: rgb(135,147,172) 0 1px 30px;
}

.text-reset-products{
    text-decoration: none;
    cursor: default;
    color: rgb(89,91,94);
}

